


.outdoors , .indoors{
  
    height: 450px;
    padding: 2rem 2rem 2rem 3rem;

    img{
        @media(max-width: 767px){
          width: 140px;
        }
        @media(min-width: 768px){
          width: 180px;
        }

    }
    .img-block{
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .link-block{
            position: absolute;
            right: 3rem;
            bottom: 3rem;
    }
    .block-numeration {
        text-align: right;
    }
    .hp-title-section {
        position:absolute;
        
    }
}

.large-collection {
  max-width: 400px;
}
.small-collection{
    max-width: 230px;
}
.block-collection{
  @media(min-width: 768px){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
  }
   
}

.collection-description p {
  font-size: 0.9rem;
  width: 80%;
  line-height: 1.5rem;
  opacity: 0.8;
}


.sub-small-title{
    font-size: 1rem;
    margin-left: 1rem;
    opacity: 0.35;
    text-transform: uppercase;
}
.hp-title-section h2 {
  font-size: 2rem;
  font-weight: 600;
}

.link-block a {
  font-size: 1rem;
  color: #000;
  border-bottom: 2px solid;
}

.popular,.collection .row{
  @media(max-width: 767px){
    text-align: center;
  }
}