
header {
  
    line-height: 60px;
        height: 60px;
        @media(min-width:768px){
            margin-top: 2.5rem;
        }
         @media(max-width:767px) {
           margin-top: 1.5rem;
         }
    .minim-logo {
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
    }
}



.bag-qty {
     width: 20px;
     height: 20px;
     background-color: #ccc;
     position: absolute;
     border-radius: 50%;
     color: #fff;
     top: 8px;
     padding: 0 0.4rem;
     margin-left: 20px;
    span{
          position: absolute;
              color: #fff;
          top: -20px;
    }
}


  .sticky {
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
    padding-top: 0 !important;
    width: 100%;
    background-color: #ffffffe6;
    line-height: 60px;
    right: 0;
    left: 0;
    .toggle-menu {
      top: 5px !important;
    }

    [for=search-btn] {
      top: 12px !important;
    }
    .search-bar{
        top: 60px;
    }
   
  }

.search-bar{
      background-color: #d39e00;
    position: fixed;
    width: 100%;
    height: 60px;
    text-align: center;
    z-index: 99999;
        right: 0;
        left: 0;
    input{
      width: 80%;
      height: 40px;
      border: 1px solid #ccc;
      padding: 0 1.5rem;
      border-radius: 20px;
    }
}
