<header  id="minim-header">
  <div class="container-fluid mb-md-5">
    <div class="row px-lg-5">
      <div class="col-3 col-sm-1 col-md-1 col-lg-1 col-xl-1"><app-header-menu></app-header-menu></div> 
      <div class="d-xs-none d-sm-none d-md-block col-md-2 ol-lg-1 col-xl-1"> 
        <!-- <app-svg-icon icon="icon-search" class="icon"></app-svg-icon> -->
      <input id='search-btn' type='checkbox' />
      <label for='search-btn'>Show search bar</label>
      <input id='search-bar' type='text' placeholder='Search...' /></div>
      <div class="col-6 col-md-5 col-lg-8 col-xl-8 minim-logo"><a [routerLink]="['/']">minim</a></div>
      <div class="d-xs-none d-sm-none d-md-block col-md-2 ol-lg-1 col-xl-1 account"><a [routerLink]="">
        <!-- <i class="fa fa-user d-xs-block d-sm-block d-md-none"></i> -->
        <span class="d-xs-none text-uppercase">account</span></a> </div>
      <div class="col-3 col-sm-1 col-md-2 col-lg-1 col-xl-1 "> 
        <div class="shopping-bag">
        <app-svg-icon icon="icon-bag" class="icon"></app-svg-icon>
        <span class="bag-qty">4</span>
      </div>
    </div>
      
    </div>
  </div>
</header>
