<section class="container pt-5 pb-5">
    <div class="row">
       <div class="col-md-3">
           <div class="slider-title">Shop</div>
        <ul class="slider-menu p-0">
            <li>Home furnishings</li>
            <li>Sofa</li>
            <li>Sofa</li>
            <li>Sofa</li>
        </ul>
       </div> 
       <div class="col-md-6">
           <img src="./../../../../../assets/img/slider/slide1.jpg">
    </div> 
    <div class="col-md-3">
        <p>Limited edition</p>
        <p>White Xlock</p>
    </div> 
    </div>
    </section>
<section container-fluid>
    <div class="row">
        <div class="col-md-6 bg-grey">

        </div>
        <div class="col-md-6 bg-blue">

        </div>
    </div>
        
</section>