
<div class="container"  data-aos="fade-up">
    <div class="row pt-5 pb-5">
       <div class="col-md-6 col-md-5">
        <div class="newsletter-title">Newsletter</div>
        <div>Register now with our newsletter and get our latest update</div>
       </div> 
       <div class="col-md-6 col-md-5">
         <form>
             <div class="form-group"><input type="text" placeholder="Name"></div>
             <div class="form-group"><input type="email" placeholder="Email" class="mr-3">
                <input type="submit" value="send" class="btn-newletter">
            </div>
         </form>  
    </div> 
    </div>
</div>
