.newsletter-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 1rem;
    input[type="text"],
    input[type="email"] {
        border: 2px solid #ccc;
        padding: 0.5rem 1rem;
    }
}

.btn-newletter{
        background-color: #000;
        border-color: #000;
        color: #fff;
         padding: 0.5rem 1rem;
        &:hover{
            opacity: 0.8;
        }
}