<div class="modal-top">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6">
            <img src="././../../../../assets/img/support.png" alt="support">
          </div>
          <div class="col-sm-12 col-md-6">
            <h2>Nedd Help?</h2>
            <div>Start a live call with us now attends to any of your enquiries</div>
            <div class="modal-btns">
                <button>Start live chat</button>
                <div class="link-block pt-5"><a routerLink="">REquest for call back</a></div>
            </div>
          </div>
      </div>
  </div>
</div>