<div class="modal-top">
  <button type="button" class="close p-2" aria-label="Close" >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-5">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 ">
            <img src="assets/img/support.png" alt="support">
          </div>
          <div class="col-sm-12 col-md-6 p-5">
            <h2 class="mb-5">Need Help?</h2>
            <div  class="mb-5">Start a live call with us now attends to any of your enquiries</div>
            <div class="modal-btns d-md-inline-flex justify-content-center align-items-center ">
                <button  class="dark-btn mb-3 mb-md-0">Start live chat</button>
                <div class="link-block ml-0 ml-md-4"><a routerLink="">Request for call back</a></div>
            </div>
          </div>
      </div>
  </div>
</div>