<footer>
    <section class="container-fluid">
       <div class="row">
        <div class="col-md-2 minim-copyright">© Copyright Minim website 2020</div>
        <div class="col-md-8 footer-menu">
            <ul>
                <li *ngFor="let item of menuItems">{{item}}</li>
            </ul>
        </div>
        <div class="col-md-2 footer-social-links">
        <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
           </ul>			
       </div> 
       </div>
       </section>

</footer>
