footer {
  margin-top: 5rem;
}
.footer-menu {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.6;
    ul {
        list-style: none;
    li{
        display: inline;
        padding: 0 0.9rem;
    }
    }
}
.minim-copyright {
  font-size: 0.8rem;
      opacity: 0.6;
}
.social-network{
    list-style: none;
    a{
       color: #fff; 
    }
    .icoFacebook {
      background-color: #3B5998;

    }

    .icoLinkedin {
      background-color: #0e76a8;

    }

    .icoTwitter {
      background-color: #38A1F3;
    }
    
      li{
        display: inline;
        padding: 0 0.5rem;
    } 
      
}


  .social-circle {
      li{
        a {
            display: inline-block;
            position: relative;
            margin: 0 auto 0 auto;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            text-align: center;
            width: 28px;
            height: 28px;
          }
          i {
            margin: 0;
            line-height: 28px;
            text-align: center;
          }
      }
      i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
      }
  }
  
  

  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  

