
      <a class="toggle-menu" href="#" [ngClass]="{'active': isOpen}" (click)="toggleMenu();isOpen=!isOpen">
        <i></i>
        <i></i>
        <i></i>
      </a>

<div class="menu-list" [@slideInOut]="menuState" >
  <ul>
    <li><a [routerLink]="['/shop']">Shop</a></li>
    <li><a [routerLink]="">Menu Item</a></li>
    <li><a [routerLink]="">Menu Item</a></li>
    <li><a [routerLink]="">Menu Item</a></li>
    <li><a [routerLink]="">Menu Item</a></li>
    <li><a [routerLink]="">Menu Item</a></li>
  </ul>
   
</div>