
      <a class="toggle-menu" href="#" [ngClass]="{'active': isOpen}" (click)="toggleMenu();isOpen=!isOpen">
        <i></i>
        <i></i>
        <i></i>
      </a>

<div class="menu-list" [@slideInOut]="menuState" >

  <ul>
    <li>
      <div class=" d-md-none"><input type="text" Value="Search..." class="w-100"></div>
    </li>
    <li class=" d-md-none"><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">ACCOUNT</a></li>
    <li><a [routerLink]="['/shop']" (click)="toggleMenu();isOpen=!isOpen">Shop</a></li>
    <li><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">Menu Item</a></li>
    <li><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">Menu Item</a></li>
    <li><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">Menu Item</a></li>
    <li><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">Menu Item</a></li>
    <li><a [routerLink]="" (click)="toggleMenu();isOpen=!isOpen">Menu Item</a></li>
  </ul>
   
</div>