.paginator {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    font-size: 0.8rem;
}
.sort-by {
    font-size: 0.8rem;
    font-weight: 600;
    ul{
        list-style: none;
        display: inline;
        li{
            display: inline;
            padding: 0 1rem;
            &:before{
                content: "|";
                display: inline;
                position: absolute;
                margin: 0 3.5rem;
                color: #000;

            }
             &:last-child:before{
                content: "";
            }
           
        }
        .active{
            color: #c0dae9;
        }
    }
}

.filter{
    ul{
        list-style: none;
        display: inline;
        @media(max-width:767px){
            padding: 0;
        }
        li{
            display: inline;
            padding: 0 1.5rem;
            &:first-child{
                @media(max-width:767px){
                    padding-left: 0;
                }
            }
            &:before{
                content: "x";
                display: inline;
                position: relative;
                margin-right: 0.5rem;
                color: #66696d;

            }
        }
    }
}

.shop-products{
    @media(max-width: 767px){
        text-align: center;
    }
}