/* You can add global styles to this file, and also import other style files */

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid"; // add the grid
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

@import "node_modules/bootstrap/scss/bootstrap"; 
body {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    color: #000!important;
    &:hover {
      text-decoration: none!important;
      color: #d7b493 !important;
    }
}


.disabled_link{
    opacity: 0.5;
    pointer-events: none;
}
img {
    width: 100%;
}
.text-uppercase{
    text-transform: uppercase;
}
.bg-grey {
    background-color: #F0F0F0;
}

.bg-blue {
    background-color: #C0DAE9;
}

.bg-black {
    background-color: #1E191D;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  #wrapper {
    margin-top: 8%;
}

.product-img img{
    max-width: 200px;
}
.product-name h3{
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
}
.product-brand{
    display:inline-block;
    margin-left: 1rem;
    font-size: 0.9rem;
    opacity: 0.5;
    font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-weight: 600;
}


.mb-sm-3{
    @media(max-width: 767px){
        margin-bottom: 3rem;
    }
}
.d-sm-none{
    @media(max-width: 767px){
        display:none!important
    }  
}
.link-block a {
    font-size: 1rem;
    color: #000;
    border-bottom: 2px solid;
  }
.dark-btn{
    background-color: #000;
    border: 2px solid #000;
    color: #fff!important;
    padding:0.5rem 1rem;
    &:hover{
        background-color: #fff;
        color: #000!important;
    }
}
.sticky .menu-list {
  top: 3.5rem!important;
}
.sticky .toggle-menu{
      top: 6px !important;
}
.light-btn{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    padding:0.5rem 1rem;
    &:hover{
        background-color: #000;
        color: #fff!important;
    }
}

.modal-open .modal {
    display: flex !important;
    align-items: center !important;
    .modal-dialog {
      flex-grow: 1;
    }
  }