/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/poppins/Poppins-Regular.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #000;
}

a {
    color: #000!important;
    &:hover {
      text-decoration: none!important;
      color: #d7b493 !important;
    }
}


.disabled_link{
    opacity: 0.5;
    pointer-events: none;
}
img {
    width: 100%;
}
.text-uppercase{
    text-transform: uppercase;
}
.bg-grey {
    background-color: #F0F0F0;
}

.bg-blue {
    background-color: #C0DAE9;
}

.bg-black {
    background-color: #1E191D;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  .sticky{
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 10;
    padding-top: 0!important;
    width: 100%;
    background-color: #ffffffe6;
    height: 4rem;
    line-height: 60px;
        .toggle-menu{
            top:5px!important;
        }
       [for=search-btn]{
               top: 12px !important;
       }
  }
.product-img img{
    width: 200px;
}
.product-name h3{
    display: inline-block;
    font-weight: 600;
    font-size: 1rem;
}
.product-brand{
    display:inline-block;
    margin-left: 1rem;
    font-size: 0.9rem;
    opacity: 0.5;
    font-weight: 500;
}

.product-price {
  opacity: 0.5;
  font-weight: 600;
}
